<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand mx-auto">Biblioteca R.A.</a>
        <a href="/socios" class="nav-item mx-1">Socios</a>
        <a href="/libros" class="nav-item mx-1">Libros</a>
        <a href="/empleados" class="nav-item mx-1">Empleados</a>
        <a href="/prestamos" class="nav-item mx-1">Lista de prestamos</a>
        <a href="/autores" class="nav-item mx-1">Lista de autores</a>
        <a href="/generos" class="nav-item mx-1">Lista de generos</a>
        <a href="/cargos" class="nav-item mx-1">Lista de cargos</a>
    </nav>
</body>
</html>